a:first-child {
    background-color: yellow;
    color: red;
}
a:nth-last-of-type(2) {
    background-color: yellow;
    color:red;
}
h1:nth-last-child(22) {
    background-color: yellow;
    color: red;
}
h1:nth-last-child(19) {
    background-color: yellow;
    color: red;
}
input:first-of-type {
    background-color: yellow;
    color: red;
}

section:nth-of-type(1) div:first-child h1:nth-child(2) {
    background-color: yellow;
    color: red;
}


/* div:nth-last-of-type(2) span:first-child p:first-child {
    background-color: yellow;
    color: red;
} */

li:only-of-type section:nth-child(1) h1:only-child {
    background-color:yellow;
    color:red;
    
}

li:only-of-type h1:nth-last-child(2) {
    background-color: yellow;
    color:red;
}

nav:only-of-type h1:last-child {
    background-color: yellow;
    color:red;
    
}

div:nth-last-of-type(3) h1:first-child {
    background-color: yellow;
    color:red;
}

div:nth-last-of-type(3) h1:nth-child(2) {
    background-color: yellow;
    color:red;
}

h1:nth-last-child(11),
h1:nth-last-child(12) {
    background-color: yellow;
    color:red;
}

div:nth-last-of-type(2) p:last-child {
    background-color: yellow;
    color:red;
    
}

h1[class=h1] {
    background-color: yellow;
    color:red;
}

div:nth-last-of-type(2) div:first-child h1:last-child {
    background-color: yellow;
    color: red;
}
section:last-child h1:last-child { 
    background-color: yellow;
    color:red;
}
div:nth-last-of-type(1) div:nth-child(3) h1:first-child {
    background-color: yellow;
    color: red;
}
h1:nth-child(19) {
    background-color: yellow;
    color: red;
} 

h1:nth-child(22) {
    background-color: yellow;
    color: red;
}