body{
    background-color: rgb(246, 235, 220);
}
.pagination{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
 .forward{
    width: 50px; 
    height: 50px;
    border:2px solid orange;
    border-radius:10px;
    display: flex;
    color: orange;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
  }

  .page-1{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(249, 226, 185);
    font-weight: bold;
  }
.pagination .page-1:nth-child(1){
    background-color: rgb(250, 109, 57);
    color: white;
}
.page-1 a{
    text-decoration: none;
    color: gray;
}
.page-1:nth-child(1) a{
    color: gray;
}
  
.forward:hover , .page-1:hover{
    background-color: skyblue;
    color:white;
}
.page-1:hover a{
    color:white;
}
