.container{
    display: flex;
    text-align: center;
}
.grid{
    background-color: rgb(48, 47, 47);
    max-height: 700px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 200px 350px 350px ;
    grid-template-rows: 100px 200px 300px 100px;
    border: 2px solid black;
    margin: auto;
    color: white;
}
.box-1{
    background-color: rgb(101, 89, 174);
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    font-size: 20px; 
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 10px;
}

.box-2{
    color: white;
    box-shadow: 0px 0px 10px gray;
    border: 5px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(26, 157, 148);
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 10px;
}
.box-3{
    background: linear-gradient(to bottom right,darkslateblue, rgb(31, 64, 170), rgb(0, 166, 255),rgb(0, 128, 102));
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    font-size: 20px; 
    grid-column-start: 2;
    grid-column-end: 5;
    margin: 10px;
}
.box-4{
    background: linear-gradient(to bottom right,darkslateblue, rgb(31, 64, 170), rgb(0, 166, 255),rgb(0, 128, 102));
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    font-size: 20px; 
    margin: 10px;
}
.box-5{
    background: linear-gradient(to bottom right,darkslateblue, rgb(31, 64, 170), rgb(0, 166, 255),rgb(0, 128, 102));
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    font-size: 20px; 
    margin: 10px;
}
.box-6{
    background-color: rgb(101, 89, 174);
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 8px gray;
    font-size: 20px; 
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 10px;
}
/* .progress{
    height: 10px;
    width: 100px;
    border-top: 10px;
    border-bottom: 10px;
    background-color: black;
} */