/* .para{
    height: 200px;
    width: 200px;
    border: 2px solid black;
} */

/* css Animation */

/* .animation.content{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: gray;
    overflow: hidden;
    animation-name:rotate;
    animation-duration: 5s;
    animation-delay: 2s;
} */

/* css Transition */

/* .maindiv{
    border:2px solid black;
    padding: 5px;
}
.transition{
    height: 100px;
    width: 100px;
    background-color: green;
}
.maindiv:hover .transition{
    height: 500px;
    width: 500px;
    background-color: orange;
    transform: translate(1000px);
    transition-duration: 5s;
    transition-delay: 5s;
    transition-property: all;
    transition-timing-function: steps(10);
} */

/* css Transform */

/* .transform{
    height: 100px;
    width: 100px;
    background-color: purple;
    margin: 200px;
    color: white;
    font-size: 35px;
} */
/* .transform:hover{ */
    /* transform: translatey(-200px); */
    /* transform: scaley(1.7); */
    /* transform: rotate(90deg , 180deg); */
    /* transform: skew(90deg , 90deg); */
    /* transition: 2s; */
/* } */
