@import 'variable';


.container{
    display: $flex;
    width:$w-2;
    justify-content: $j-between;
    margin: $m-4;
}


.box-1{
    height: $h-1;
    width: $w-1;
    border:2px solid black;
    background-color: $bg-1;
    margin: $m-1;
    padding: $p-2;
}
.icon-1 i{
    display: $flex;
    justify-content: $j-center;
    margin: $m-3 ;
    font-size:$f-2;
}

.p1{
    display: $flex;
    justify-content: $j-center;
    line-height: 20px;
    font-weight: $fw-8;
    text-align: $t-align;
}

.ts-1{
    font-weight: $fw-10;
    display: $flex;
    justify-content: $j-center;
    margin-top:$m-5;
}


.div-1 button{
    border: 0;
    border-radius: 50px;
    width:$w-1;
    padding: $p-3;
    background-color: $bg-3;
    color: $c-2;
}



.box-2{
    height: $h-1;
    width: $w-1;
    background-color: $bg-2;
    margin: $m-1;
    padding: $p-2;
}
.icon-2 i{
    display: $flex;
    justify-content: $j-center;
    margin: $m-3;
    font-size:$f-2;
    color: $c-2;
}

.p2{
    line-height: 20px;
    font-weight: $fw-8;
    color: $c-2;
    text-align: $t-align;
}

.ts-2{
    font-weight: $fw-10;
    display: $flex;
    justify-content: $j-center;
    margin-top:$m-5;
    color: $c-2;
}

.div-2 button{
    border: 0;
    border-radius: 50px;
    width:$w-1;
    padding: $p-3;
    background-color: $bg-1;
    color: $c-3;
}


.box-3{
    height: $h-1;
    width: $w-1;
    border:2px solid black;
    background-color: $bg-1;
    margin: $m-1;
    padding: $p-2;
}
.icon-3 i{
    display: $flex;
    justify-content: $j-center;
    margin: $m-3 ;
    font-size:$f-2;
}

.p3{
    line-height: 20px;
    font-weight: $fw-8;
    text-align: $t-align;
}

.ts-3{
    font-weight: $fw-10;
    display: $flex;
    justify-content: $j-center;
    margin-top:$m-5;
}


.div-3 button{
    border-radius: 50px;
    border: 0;
    width:$w-1;
    padding: $p-3;
    background-color: $bg-3;
    color: $c-2;
}


