
.container{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.pulser{
    width: 200px;
    height: 200px;
    background-color: rgb(46, 8, 237);
    border-radius: 50%;
    position: absolute;
    animation: pulse 1000ms linear 2s 2;
}

  @keyframes pulse{
    0% {
      left:0%;
      
    }
    50% {
      left:10%;
      border: 20px solid rgba(137, 43, 226, 0.864);
    }
    100%{
      left:20%;
    }
}
  