.container{
    display: flex;
    justify-content: center;
    margin-top: 12%;
}
.animation{
    background-color: blue;
    height: 250px;
    width: 800px;
   animation: scale 0.9s linear 1;
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

